.log-in-container{
    background-image: url("../../assets/mini-mart.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 375px;
    padding: 2rem;
    min-height: 70vh;
    background-attachment: fixed; 
}

.log-in-form{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    margin: 0 auto;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.log-in-form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.log-in-form h4{
    letter-spacing: 1px;
}

.log-in-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.log-in-button{
    color: rgb(255, 255, 255);
    background-color: rgb(211, 29, 29);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}
.log-in-button:hover, .forget-password-button:hover{
    background-color: rgba(255, 0, 0, 0.3);
    color: black;
}
.forget-password-button{
    color: rgb(255, 227, 227);
    height: 40px;  
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.9);
}