.sign-up-container {           
    background-image: url("/images/shopping.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 375px;
    padding: 2rem;
    background-attachment: fixed;           
}

.sign-up-buttons button img{
    width: 30px;
    height: 30px;
}

.sign-up-inputs input{
    background-color: transparent;
    height: 30px;
    border-bottom: 1px solid rgb(212, 205, 205);
    color: black;
}

.sign-up-inputs input::placeholder{
    color: rgb(0, 0, 0, 0.7);
    font-weight: 900;
}

.sign-up-form{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    margin: 0 auto;
    max-width: 370px;
}

.sign-up-form h4{
    letter-spacing: 1px;
}

.sign-up-buttons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.sign-up-buttons button{
    margin-bottom: 10px;
    height: 40px;
    cursor: pointer;
}

.google-sign-in-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
}

.google-sign-in-button:hover{
    background-color: rgba(255, 244, 244, 0.3);
    color: black;
}

.create-account-button{
    background-color: rgb(211, 29, 29);
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}
.create-account-button:hover{
    background-color: rgba(255, 0, 0, 0.3);
    color: black;
}
.sign-up-log-in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.sign-up-log-in a{
    text-decoration: underline;
}
 
