.best-selling-container {
  background-color: #f9f9f9;
  padding: 2rem;
}
 .best-selling-heading {
  color: var(--general-red);
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.best-selling-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.5rem 0 2rem 0;
}

.best-selling-items-container {
  margin-top: 2rem;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 auto;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
} 

@media (min-width: 550px) {
  .best-selling-items-container{
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .best-selling-items-container{
        grid-template-columns: repeat(4, 1fr);
  }
}
