.category-container{
    box-sizing: border-box;
    padding: 1rem;
}
 .category-heading{
    color: var(--general-red);
    width: 70px;
}

.category-heading, .category-navigation, .category-scroll{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.category-navigation{
    margin: 0.5rem 0 2rem 0;
    flex-direction: row;
}

.category-scroll{
    width: 85px;
}

.category-left-arrow, .category-right-arrow{
    width: 40px;
    height: 40px;
    background-color: rgba(231, 230, 230, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    font-size: 20px;
}

.category-left-arrow:hover, .category-right-arrow:hover{
    background-color: rgb(214, 214, 214);
}

.category-list{
    border-bottom: 1px solid var(--bottom-border);
    padding-bottom: 3.5rem;
}

.category-list ul{
    box-sizing: border-box;
    max-height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.category-list ul li{
    border: 1px solid var(--bottom-border);
    min-width: 150px;
    height: 100px;
    list-style-type: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0 ;
    transition: background-color 0.5s ease-in;
}

.category-list ul li:hover{
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    width: 170px;
}
.category-image{
    font-size: 40px;
}


@media (min-width: 550px){
    .category-list ul{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px){
    .category-list ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

