*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.home-container{
    padding: 1.5rem 7rem;
}


.reassurance{
    box-sizing: border-box;
    transform: translateY(-37rem);
}
.reassurance ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.reassurance-icon{
    font-size: 50px;
    transform: translateX(5rem);
    margin-bottom: 1rem;
    border: 6px solid grey;
    border-radius: 50%;
    padding: 1rem;
    background-color: black;
    color: white;
}
.reassurance p{
    align-self: center;
}.reassurance ul li{
    list-style-type: none;
}