*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.home-container{
    padding: 1.5rem 7rem;
}
.ads{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.ads-links{
    border-right:1px solid black;
    width: 250px;
}
.ads-links ul li{
    list-style-type: none;
    padding: 0.2rem 0;
}
.ads-info{
    background-image: url("../../assets/pepsi-image.jpg");
    /*we will use js to dynamically change the background image based on the current item from the api*/
    /*do it by giving an id to the ads-info class and changing the css directly in js*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    color: rgb(255, 255, 255);
    width: 750px;
    height: 300px;
    padding: 4rem;
}
.ads-info p, .ads-info h1{
    margin-bottom: 1rem;
}
.ads-info h1{
    width: 190px;
}
.caret-link-one{
    transform: translateX(6rem);
}.caret-link-two{
    transform: translateX(7.2rem);
}
.ads-info button{
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(255, 250, 250);
}
/*flash sales css below*/
.flash-sales-container{
    margin-top: 5rem;
}
.today{
    color: red;
    width: 70px;
}
.today, .timer, .countdown, .countdown p, .scroll{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.countdown{
    transform: translate(-7.5rem, 1rem);
}
.countdown p{
    flex-direction: column;
    margin-right: 30px;
    font-size: 30px;
}
.reduce-time-size{
    font-size: 10px;
}
.colon{
    transform: translate(1.9rem, -2.4rem);
    color: red;
}
.countdown p:nth-of-type(4){
    transform: translateY(-1.04rem);
}
.scroll{
    width: 85px;
}
.left-arrow, .right-arrow{
    width: 40px;
    height: 40px;
    background-color: rgba(231, 230, 230, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
}
.left-arrow:hover, .right-arrow:hover{
    background-color: rgb(214, 214, 214);
}
/*item container*/
.items-container{
    box-sizing: border-box;
    max-height: 200px;
}
.item{
    box-sizing: border-box;
    max-height: 220px;
    max-width: 200px;
}
.discount-area{
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    background-color: rgb(214, 214, 214);
    height: 200px;
    overflow: hidden;
    color: rgb(255, 255, 255);
}
.discount-area::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/mini-mart.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    z-index: 0;
}
.seen{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 40px;
    margin: 8px;
    position: relative;
    z-index: 1;
}
.favorite, .viewed{
    color: rgb(255, 255, 255);
    background-color: transparent;
    width: 20px;
    height: 20px;
    outline: 0;
    border: 0;
    margin-bottom: 3px;
}
.discount-area p{
    color: white;
    background-color: red;
    height: 25px;
    width: 50px;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    margin: 8px;
    position: relative;
    z-index: 1;
}
.discount-area .add-item{
    display: none;
    grid-column: 1/-1;
    width: 100%;
    margin-top: auto;
    background-color: rgb(53, 52, 52);
    color: rgb(255, 255, 255);
    height: 40px;
    border: 0;
    outline: 0;
    position: relative;
    z-index: 1;
}
.item-info{
    margin-top: 5px;
}
.item-info h4, .item-info p{
    width: 100%;
    margin-bottom: 5px;
}
.stars p{
    display: inline;
    margin-left: 7px;
}
.stars .star{
    color: #ff9822;
}