.mini-ad{
    background-image: url("../../assets/pepsi-image.jpg");
    /*we will use js to dynamically change the background image based on the current item from the api*/
    /*do it by giving an id to the mini-ad class and changing the css directly in js*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    color: rgb(255, 255, 255);
    width: 750px;
    height: 300px;
    padding: 4rem;
}
.mini-ad p, .mini-ad h1{
    margin-bottom: 1rem;
}
.mini-ad h1{
    width: 190px;
}
.mini-ad button{
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(255, 250, 250);
    transition: background-color 0.2s ease-out;
}
.mini-ad button:hover{
    background-color: rgba(255, 250, 250, 0.2);
    color: black;
}
