* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wishlist-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  min-width: 375px;
  min-height: 70vh;
}

.wishlist-navigation {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.empty-favorites-text {
  width: fit-content;
  font-size: 3rem;
  height: 40vh;
  margin: 0 auto;
}

.wishlist-items-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1fr;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .wishlist-items-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .wishlist-items-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .wishlist-items-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
