*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.contact-container{
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.contact-details, .contact-form{
    border: 2px solid rgba(143, 143, 143, 0.5);
    padding: 2rem;
    border-radius: 5px;
}

.contact-details{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1rem;
}

.call-us p, .write-to-us p{
    margin-bottom: 1rem;
}

.call-us .contact-icon, .write-to-us .contact-icon{
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    font-size: 5px;
}

.call-us h4, .write-to-us h4{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.contact-inputs{
    margin-bottom: 1rem;
}


.text-area{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-area textarea{
    padding: 5px;
    width: 100%;
    height: 140px;
    margin-bottom: 1rem;
    outline: 0;
    border: 0;
    background-color: rgba(143, 143, 143, 0.3);
}

.text-area button{
    margin: 0 auto;
    width: 120px;
    height: 40px;
    background-color: var(--general-red);
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
    outline: 0;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.text-area button:hover{
    background-color: rgba(255, 0, 0, 0.3);
    color: black;
    width: 123px;
} 

@media (min-width: 768px){
    .contact-container{
        grid-template-columns: 1fr 1fr;
    }
}