.our-products-container{
    margin-top: 5rem;  
    background-color: #f9f9f9;
    padding: 2rem;
}
.our-products-heading{
    color: var(--general-red);
    width: 115px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.our-products-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0.5rem 0 2rem 0;
}

.our-products-button{
    margin: 2rem 31rem;
}
.our-products-items-container{
    box-sizing: border-box;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.5rem;
    scroll-behavior: smooth;
}
