.our-products-container{
  background-color: #f9f9f9;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--bottom-border);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.our-products-heading{
  color: var(--general-red);
  max-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.our-products-navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  margin: 0.5rem 0 2rem 0;
}

 
.our-products-items-container{
  margin-top: 2rem;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 auto;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
} 

.our-products-button{
  margin: 0 auto;
}

@media (min-width: 550px) {
  .our-products-items-container{
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .our-products-items-container{
        grid-template-columns: repeat(4, 1fr);
  }
}
