.sign-up-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 2rem 5rem;
    overflow: hidden;
}
.sign-up-container .shopping-img{
    width: 550px;
    height: 500px;
    border-radius: 5px; 
    transform: translateX(6rem);
}
.buttons button img{
    width: 30px;
    height: 30px;
}
.form{
    margin: 30px 90px;
    transform: translateX(5rem);
    
}
.form h2, .form h4, input{
    margin: 0.5rem 0;
}
.form h4{
    letter-spacing: 1px;
}
input{
    background-color: transparent;
    height: 30px;
    border-bottom: 1px solid rgb(212, 205, 205);
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.buttons button{
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
}
.google-sign-in-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px ;
    cursor: pointer;
}
.create-account-button{
    background-color: rgb(211, 29, 29);
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}
.log-in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 1rem;
}
.log-in p{
    font-size: 13px;
}
.log-in a{
    text-decoration: underline;
}

