.flash-sales-container {
  border-bottom: 1px solid var(--bottom-border);
  background-color: #f9f9f9;
}

.flash-sales-header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.today-container,
.countdown-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.countdown-container{
    padding: 1rem;
}

.today {
  color: var(--general-red);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.countdown {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.countdown p {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.timer-figure {
  font-size: 2rem;
}

.colon {
  color: var(--general-red);
}

.left-arrow,
.right-arrow {
  width: 40px;
  height: 40px;
  background-color: rgba(231, 230, 230, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  font-size: 20px;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: rgb(214, 214, 214);
}
/*
.view-all-products-button{
    margin: 0 31rem;
    transform: translateY(-80px);
} */

/* .items-container{
    box-sizing: border-box;
    max-width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
} */

@media (min-width: 375px) {
  .flash-sales-header {
    grid-template-columns: 1fr 2fr;
  }
  .countdown {
    flex-direction: row;
  }

  .countdown-container{
    padding: 2rem;
  }
  .scroll{
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
