.flash-sales-container {
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--bottom-border);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.flash-sales-header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.today-container,
.countdown-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.today {
  color: var(--general-red);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.countdown {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.countdown p {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.timer-figure {
  font-size: 2rem;
}

.colon {
  color: var(--general-red);
}

.left-arrow,
.right-arrow {
  width: 40px;
  height: 40px;
  background-color: rgba(231, 230, 230, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  font-size: 20px;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: rgb(214, 214, 214);
}

.items-container {
  margin-top: 2rem;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 auto;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@media (min-width: 550px) {

  .scroll {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .items-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .countdown-container {
    justify-content: space-evenly;
  }

  .countdown {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {  
  .flash-sales-header {
    width: 95%;
    grid-template-columns: 1fr 3fr;
  }

  .items-container{
    grid-template-columns: repeat(4, 1fr);
  }
  .scroll{
    transform: translateX(12rem);
  }
}