
.item{
    box-sizing: border-box;
    margin: 0 3rem;
    max-width: 12rem;
}
.discount-area{
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    height: 230px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.seen{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 40px;
    transform: translate(8.3rem, 0.5rem);
    position: absolute;
    z-index: 1;
}
.favorite-button{
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-bottom: 3px;
}
.discount-area p{
    color: white;
    background-color: var(--general-red);
    height: 25px;
    width: 50px;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    margin: 8px;
    position: relative;
    z-index: 1;
}
.discount-area .add-item{
    grid-column: 1/-1;
    width: 100%;
    margin-top: auto;
    background-color: var(--general-red);
    color: rgb(255, 255, 255);
    height: 40px;
    border: 0;
    outline: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.item-info{
    margin-top: 5px;
}
.item-info h4, .item-info p{
    width: 100%;
    margin-bottom: 5px;
}
.stars p{
    display: inline;
    margin-left: 7px;
}
.stars .star{
    color: rgba(255, 152, 34, 0.9);
}
