.our-products-container{
    margin-top: 5rem;
}
.our-products-heading{
    color: var(--general-red);
    width: 115px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.our-products-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0.5rem 0 2rem 0;
}
/* .our-products-button{
    width: 120px;
    height: 40px;
    background-color: var(--general-red);
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
    outline: 0;
    margin: 2rem 31rem 4rem 31rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.our-products-button:hover{
    background-color: rgba(255, 0, 0, 0.5);
    color: black;
} */

.our-products-button{
    margin: 2rem 31rem;
}
.our-products-items-container{
    box-sizing: border-box;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;
    scroll-behavior: smooth;
}
