* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.item-detail-container {
  padding: 1rem;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.item-detail-back-button {
  display: flex;
  flex-direction: flex-end;
  align-items: center;
  justify-content: space-between;
}

.item-detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.item-detail-image {
  width: 100%;
}

.item-detail-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  max-height: 200px;
  margin: auto 0;
}

.review-container,
.stars {
  display: flex;
  flex-direction: row;
  color: rgb(182, 182, 182);
}

.review-container span {
  color: rgb(56, 255, 56);
}

.buttons button {
  height: 40px;
  outline: 0;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.buttons,
.item-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

.item-count button:nth-of-type(1) {
  color: black;
}

.item-count button:nth-of-type(2),
.update-button {
  background-color: rgba(255, 0, 0, 0.8);
}

.item-count button,
.buttons .item-detail-favorite {
  width: 40px;
  background-color: rgba(51, 51, 51, 0.3);
}

.update-button {
  width: 6rem;
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .item-detail {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 900px) {
  .item-detail-container {
    padding: 2rem 8rem;
  }
  .item-detail-image {
    width: 80%;
  }
  .item-detail-info {
    max-width: 500px;
    max-height: 200px;
    margin: auto 0;
  }
}
