*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 400px;
}
.footer .subscription, .footer .support, .footer .account, .footer .policy-info, .footer .download-app{
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    min-height: 200px;
    max-width: 200px;
    padding: 0 0 1rem 0;
    justify-content: space-between;
    font-weight: 100;
}
.footer .subscription input{
    width: 185px;
    height: 45px;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 5px;
}

.footer .subscription-icon{
    /* this is supposed to be a submit button */
    transform: translate(148px, -46px);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
}
.download-app{
    margin-top: 1rem;
}
.social-media{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.download-buttons button img{
    width: 30px;
    height: 30px;
}
.download-buttons button{
    outline: 0;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    margin: 0.5rem;
    color: white;
    height: 40px;
    transform: translateX(-8px);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.download-buttons button:hover{
    background-color: rgb(179, 179, 179);
    color: black;
}
.download-buttons .second-button .faApple{
    font-size: 35px;
}
.social-icon{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
}
.social-icon:hover{
    background-color: rgb(179, 179, 179);
    color: black;

}
