*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.footer{
    min-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 2rem;
    gap: 1rem;
}
.footer .subscription, .footer .support, .footer .account, .footer .policy-info, .footer .download-app{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-width: 250px;
    border-radius: 5px;
    padding: 0.5rem;
    justify-content: space-between;
    font-weight: 100;
    background-color: rgb(255, 255, 255, 0.2);
}
.footer .subscription input{
    width: 185px;
    height: 45px;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 5px;
}

.footer .subscription-icon{
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
}
.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.download-buttons button img{
    width: 30px;
    height: 30px;
}
.download-buttons button{
    outline: 0;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    margin: 0.2rem;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.download-buttons button:hover{
    background-color: rgb(179, 179, 179);
    color: black;
}
.download-buttons .second-button .faApple{
    font-size: 35px;
}
.social-icon{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
}
.social-icon:hover{
    background-color: rgb(179, 179, 179);
    color: black;
}

@media (min-width: 550px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .footer{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .footer{
        grid-template-columns: repeat(5, 1fr);
    }
}