.second-ad{
    background-image: url("../../assets/fanta.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    color: rgb(255, 255, 255);
    height: 350px;
    padding: 1rem;
}
.second-ad p, .second-ad h1{
    margin-bottom: 1rem;
}
 .second-ad-title{
    color: rgb(147, 255, 147);
}

.second-ad button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
    outline: 0;
    background-color: rgba(60, 255, 60, 0.5);
    transition: background-color 0.2s ease-out;
}

.second-ad button:hover{
    background-color: rgb(1, 145, 1);
    color: black;
}

.second-ad-countdown, .second-ad-countdown p{
    display: flex;
    align-items: center;
}

.second-ad-countdown{
    gap: 1rem;
}

.second-ad h1{
    max-width: 300px;
}



.second-ad-countdown p{
    flex-direction: column;
    padding-top: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 50%;
}

.countdown-number{
    font-size: 19px;
}

.second-ad-reduce-time-size{
    font-size: 10px;
}
 
