.category-container{
    margin: 5rem 0;
}
.category-heading{
    color: var(--general-red);
    width: 70px;
}
.category-heading, .category-navigation, .category-scroll{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-navigation{
    margin: 2rem 0;
    flex-direction: row;
}
.category-scroll{
    width: 85px;
}
.category-left-arrow, .category-right-arrow{
    width: 40px;
    height: 40px;
    background-color: rgba(231, 230, 230, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    font-size: 20px;
}
.category-left-arrow:hover, .category-right-arrow:hover{
    background-color: rgb(214, 214, 214);
}
.category-list{
    border-bottom: 1px solid var(--bottom-border);
    padding-bottom: 3.5rem;
}
.category-list ul{
    box-sizing: border-box;
    max-width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    overflow: auto;
    scrollbar-width: none;
}
.category-list ul li{
    border: 1px solid var(--bottom-border);
    width: 100px;
    height: 100px;
    list-style-type: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0 ;
    transition: background-color 0.2s ease-in;
}
.category-list ul li:hover{
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    cursor: pointer;
}
.category-image{
    font-size: 40px;
}

