*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    border-bottom: 1px solid rgb(212, 205, 205);
    min-width: 375px;
    width: 100%;
}

.links-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.app-name{
    text-align: center;
}
.app-name a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.links{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 15rem;
}

.links a:hover{
    font-size: 20px;
    transition: font-size 0.1s ease;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    height: 25px;
    padding: 5px;
    background-color: rgb(212, 212, 212);
    outline: 0;
    border: 0;
    border-radius: 3px;
    min-width: 230px;
    width: 100%;
}

.search-icon{
    transform: translateX(-25px);
}

a{
    color: black;
    text-decoration: none;
    transition: font-size 0.1s ease;
}

.active{
    color: rgba(202, 8, 228, 0.9);
    text-decoration: underline;
    font-size: 20px;
}

.search-bar-cart-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cart-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: flex-end;
    color: rgba(70, 33, 70, 0.5);
    width: fit-content;
} 

@media (min-width: 768px){
    .header-container{
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
    }
    .links-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .search-bar-cart-image-container{
        align-items: center;
        gap: 1rem;
    }
}

