.reassurance{
    box-sizing: border-box;
    margin: 1rem;
}
.reassurance ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.reassurance-icon{
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 1rem;
    border: 6px solid grey;
    border-radius: 50%;
    padding: 1rem;
    background-color: black;
    color: white;
}
.reassurance p{
    align-self: center;
}
.reassurance ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 550px) {
    .reassurance ul{
        grid-template-columns: repeat(3, 1fr);
    }
}