*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid rgb(212, 205, 205);
    z-index: 10;
}
.app-name{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}
.app-name a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.app-name, .cart-image{
    margin: 0 80px;
}
.links{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    width: 250px;
    height: 25px;
    padding: 5px;
    background-color: rgb(212, 212, 212);
    outline: 0;
    border: 0;
    border-radius: 3px;
}
.search-icon{
    transform: translateX(-25px);
}