.ads-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.ads-links ul{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

.ads-links ul li{
    list-style-type: none;
    padding: 0.2rem 0;
}

