*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.about-us-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 375px;
}
 .our-story{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.story-image{
    width: 100%;
    height: clamp(200px, 100%, 450px);
    border-radius: 5px;
}
.story{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 375px;
    gap: 2rem;
    line-height: 1.5rem;
    padding: 1rem;
}
.story h1{
    letter-spacing: 15px;
    color: var(--general-red);
    text-decoration: solid underline var(--general-red);
    font-size: 3rem;
    min-width: 357px;
}

.story h4{
    color: var(--general-red);

}

.assurance-list{
    padding: 1rem;
    width: 100%;
    margin: 2rem 0;
}

.assurance-list ul{
    box-sizing: border-box;
    max-width: 100%;
    height: 200px;
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.assurance-list ul li{
    border: 1px solid var(--bottom-border);
    list-style-type: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem ;
    transition: background-color 0.2s ease-in;
}

.assurance-list ul li h2, .assurance-image{
    color: var(--general-red);
}
.assurance-list ul li p{
    font-size: 13px;
}
.assurance-image{
    font-size: 40px;
}

@media (min-width: 768px) {
    .our-story{
        grid-template-columns: 1fr 1fr;
    }
    .story-image{
        width: 100%;
        height: clamp(300px, 100%, 500px);
    }
    .assurance-list ul{
        grid-template-columns: repeat(4, 1fr);
    }
}
