.mini-ad{
    background-image: url("/images/pepsi-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    color: rgb(255, 255, 255);
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}
.mini-ad button{
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(255, 250, 250);
    transition: background-color 0.2s ease-out;
}
.mini-ad button:hover{
    background-color: rgba(255, 250, 250, 0.2);
    color: black;
}
